/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --white-color: #f7f7f7;
  --skyblue-color: #01acfd;
  --orange-color: #fea301;
  --black-color: #111111;
  --skyblueSoft-color: #05d4df;
  --blueLight-color: #5d58ef;
}
/* .quicksand-regular {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.raleway-regular {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */
* {
  margin: 0px;
  padding: 0px;
}
body {
  box-sizing: border-box;
  width: 100vw;
  background-color: var(--white-color);
}
/* navbar design start */
.nav-container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.logo-container-img {
  width: 100%;
}
.logo-container-text {
  font-family: "Quicksand", serif;
  font-weight: 700;
  font-size: 2rem;
  color: var(--black-color);
}
.hamburger-icon {
  display: none;
}
.hamburger-icon > img {
  width: 40px;
}
.nav-menu-list-items {
  display: flex;
  gap: 2rem;
}
.nav-menu-item {
  list-style: none;
}
.nav-menu-item > a {
  text-decoration: none;
  font-family: "Quicksand", serif;
  font-weight: 500;
  font-size: 1.6rem;
}
.nav-menu-item-1 > a {
  font-weight: 700;
  color: var(--orange-color);
}
.nav-menu-item-2 > a {
  color: var(--skyblue-color);
}
.nav-menu-item-3 > a {
  color: var(--skyblueSoft-color);
}
.nav-menu-item-4 > a {
  color: var(--blueLight-color);
}
.nav-button {
  font-family: "Quicksand", serif;
  font-weight: 600;
  padding: 0.8rem 3.8rem;
  border-radius: 12px;
  font-size: 1.3rem;
  color: #ffff;
  background-color: var(--orange-color);
  border: none;
}
/* navbar design end */

@media (max-width: 576px) {
  .nav-container {
    max-width: 100%;

    margin-top: 1rem;
    border-bottom: 1px solid var(--orange-color);
  }

  .logo-container-img {
    width: 100%;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
  .logo-container-text {
    display: none;
  }
  .nav-menu-container {
    display: none;
  }
  .nav-button-container {
    display: none;
  }
  .hamburger-icon {
    display: block;

    margin-right: 1rem;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .nav-container {
    max-width: 98%;
    margin: 0 auto;
  }
  .logo-container {
    gap: 0.3rem;
    margin-top: 1rem;
  }
  .logo-container-img {
    width: 50%;
  }
  .logo-container-text {
    font-weight: 700;
    font-size: 1.5rem;
  }
  .nav-menu-list-items {
    gap: 1rem;
    margin-top: 1rem;
  }
  .nav-menu-item > a {
    font-weight: 500;
    font-size: 1rem;
  }
  .nav-menu-item-1 > a {
    font-weight: 700;
  }
  .nav-button {
    margin-top: 1rem;
    padding: 0.4rem 2rem;
    border-radius: 12px;
    font-size: 0.8rem;
    color: #ffff;
    background-color: var(--orange-color);
    border: none;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .nav-container {
    max-width: 95%;
    margin: 0 auto;
  }
  .logo-container {
    gap: 0.5rem;
    margin-top: 1rem;
  }
  .logo-container-img {
    width: 70%;
  }
  .logo-container-text {
    font-weight: 700;
    font-size: 1.7rem;
  }
  .nav-menu-list-items {
    gap: 1.5rem;
    margin-top: 1rem;
  }
  .nav-menu-item > a {
    font-weight: 500;
    font-size: 1.5rem;
  }
  .nav-menu-item-1 > a {
    font-weight: 700;
  }
  .nav-button {
    margin-top: 1rem;
    padding: 0.5rem 2rem;
    border-radius: 12px;
    font-size: 1rem;
    color: #ffff;
    background-color: var(--orange-color);
    border: none;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .nav-container {
    max-width: 95%;
    margin: 0 auto;
  }
  .logo-container {
    gap: 0.5rem;
    margin-top: 1rem;
  }
  .logo-container-img {
    width: 70%;
  }
  .logo-container-text {
    font-weight: 700;
    font-size: 1.7rem;
  }
  .nav-menu-list-items {
    gap: 1.5rem;
    margin-top: 1rem;
  }
  .nav-menu-item > a {
    font-weight: 500;
    font-size: 1.5rem;
  }
  .nav-button {
    margin-top: 1rem;
    padding: 0.5rem 2rem;
    border-radius: 12px;
    font-size: 1rem;
    color: #ffff;
    background-color: var(--orange-color);
    border: none;
  }
}
