/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --white-color: #f7f7f7;
  --skyblue-color: #01acfd;
  --orange-color: #fea301;
  --black-color: #111111;
  --skyblueSoft-color: #05d4df;
  --blueLight-color: #5d58ef;
}
/* .quicksand-regular {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.raleway-regular {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */
* {
  margin: 0px;
  padding: 0px;
}
body {
  box-sizing: border-box;

  background-color: var(--white-color);
}
/* navbar design start */
.nav-container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.logo-container-img {
  width: 100%;
}
.logo-container-text {
  font-family: "Quicksand", serif;
  font-weight: 700;
  font-size: 2rem;
  color: var(--black-color);
}
.hamburger-icon {
  display: none;
}
.hamburger-icon > img {
  width: 40px;
}
.nav-menu-list-items {
  display: flex;
  gap: 2rem;
}
.nav-menu-item {
  list-style: none;
}
.nav-menu-item > a {
  text-decoration: none;
  font-family: "Quicksand", serif;
  font-weight: 500;
  font-size: 1.6rem;
}
.nav-menu-item-1 > a {
  font-weight: 700;
  color: var(--orange-color);
}
.nav-menu-item-2 > a {
  color: var(--skyblue-color);
}
.nav-menu-item-3 > a {
  color: var(--skyblueSoft-color);
}
.nav-menu-item-4 > a {
  color: var(--blueLight-color);
}
.nav-button {
  font-family: "Quicksand", serif;
  font-weight: 600;
  padding: 0.8rem 3.8rem;
  border-radius: 12px;
  font-size: 1.3rem;
  color: #ffff;
  background-color: var(--orange-color);
  border: none;
}
.nav-button:hover {
  color: #ffff;
  background-color: var(--skyblue-color);
  transition: all 0.3s ease;
}
/* navbar design end */
/* start banner design */
.banner-container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.banner-container-left {
  margin: 7.5rem 0rem;
  width: 50%;
}
.banner-container-left-title {
  font-size: 3.5rem;
  font-family: "Quicksand", serif;
  font-weight: 700;
}
.banner-container-left-title-Empowering {
  color: var(--orange-color);
}
.banner-container-left-title-towards-vision {
  color: var(--skyblue-color);
}
.banner-container-left-description {
  font-family: "Quicksand", serif;
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 1rem;
}
.banner-container-left-btn {
  border: none;
  font-family: "Quicksand", serif;
  font-weight: 700;
  padding: 0.7rem 3rem;
  margin-top: 1.5rem;
  border-radius: 12px;
  background-color: var(--black-color);
  color: #ffff;
  font-size: 1.2rem;
}
.banner-btn {
  display: flex;
}
.banner-container-left-btn:hover {
  background-color: var(--skyblue-color);
  color: #ffff;
  transition: all 0.3s ease;
}
.banner-container-right {
  margin-top: 1rem;
  width: 50%;
  text-align: end;
}
/* banner part design end  */
/* marquee part start */
.marquee-container-main {
  display: flex;
  justify-content: center;
}
.marquee-container {
  width: 60%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 10px 0;
}

.marquee {
  font-family: "Quicksand", serif;
  font-weight: 700;
  display: inline-block;
  white-space: nowrap;
  font-size: 24px;

  color: var(--orange-color);
  text-transform: uppercase;
  animation: scroll-left 10s linear infinite;
  letter-spacing: 2px;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* marquee part end */
/* carriculum part design start */
.carriculum-container {
  margin: 0 auto;
  max-width: 100%;
  background-image: url("../bg.png");
}
.carriculum-container-title {
  font-family: "Quicksand", serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  padding-top: 3.7rem;
  font-size: 2.8rem;
  color: var(--black-color);
}
.carriculum-container-items {
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  gap: 1.8rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
.carriculum-container-card {
  text-align: center;

  padding-bottom: 3.3rem;
  margin-top: 5rem;
}
.carriculum-card-1 {
  background: linear-gradient(to bottom, #def5ff, #ffffff);
  box-shadow: 0px 0px 0px rgba(79, 89, 94, 1);
  border-radius: 18px;
}
.carriculum-card-2 {
  background: linear-gradient(to bottom, #fff4dc, #ffffff);

  box-shadow: 0px 0px 0px rgba(255, 244, 220, 1);
  border-radius: 18px;
}
.carriculum-card-3 {
  background: linear-gradient(to bottom, #eee1ff, #ffffff);
  box-shadow: 0px 0px 0px rgba(238, 225, 255, 1);
  border-radius: 18px;
}
.carriculum-container-card-img {
  padding: 3.3rem 7.2rem 0rem 7.2rem;
}
.carriculum-container-card-title {
  font-family: "Quicksand", serif;
  font-weight: 700;
  margin-top: 2rem;
  font-size: 1.5rem;
  color: #202020;
}
.carriculum-container-card-description {
  font-family: "Raleway", serif;
  font-weight: 500;
  margin: 2rem 2.5rem;
  font-size: 1rem;
  color: #808080;
}
.carriculum-container-card-btn {
  font-family: "Quicksand", serif;
  font-weight: 700;
  /* margin: 20px 20px; */
  font-weight: 1rem;
  border: none;
}
.carriculum-btn-1 {
  color: #64c8ff;
  text-decoration: none;
}
.carriculum-btn-2 {
  color: #f0aa00;
  text-decoration: none;
}
.carriculum-btn-3 {
  color: #8700ff;
  text-decoration: none;
}
.arrow {
  display: block;
  max-width: 80%;
  margin: 5rem auto;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.arrow > svg {
  height: "5.6rem";
  width: "8rem";
}

.arrow > svg:hover {
  fill: #01acfd;
  transition: all 0.5s ease;
}
.our-stories {
  font-family: "Quicksand", serif;
  font-weight: 700;
  margin: 0 auto;
  max-width: 100%;
  background: linear-gradient(
      to top,
      rgb(233, 195, 129),
      rgba(255, 255, 255, 0)
    ),
    url("../bg.png");
}
.our-stories-title {
  font-size: 2.8rem;
  margin: 3.7rem auto;
  max-width: 80%;
  display: flex;
  justify-content: center;
}
.our-stories-card {
  border-radius: 16px;
  background-color: #ffffff;
}
.our-stories-card > img {
  border-radius: 16px 16px 0px 0px;
  width: 100%;
}
.our-stories-cards {
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.5rem;
  row-gap: 0;
}
.stories-card-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}
.stories-card-2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.stories-card-3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
.stories-card-4 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin-top: 1.5rem;
}
.stories-card-5 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  margin-top: 1.5rem;
}

.our-stories-card-btn-1 {
  font-family: "Raleway", serif;
  font-weight: 500;
  border: none;
  background-color: #3cd8e8;
  color: #ffffff;
  padding: 0.8rem 1.2rem;
  border-radius: 3rem;
  font-size: 1rem;
  position: relative;
  left: 2.3rem;
  bottom: 1.6rem;
}
.our-stories-card-btn-2 {
  font-family: "Raleway", serif;
  font-weight: 500;
  border: none;
  background-color: #95b226;
  color: #ffffff;
  padding: 0.8rem 1.2rem;
  border-radius: 3rem;
  font-size: 1rem;
  position: relative;
  left: 2.3rem;
  bottom: 1.6rem;
}
.our-stories-card-btn-3 {
  font-family: "Raleway", serif;
  font-weight: 500;
  border: none;
  background-color: #5d58f0;
  color: #ffffff;
  padding: 0.8rem 1.2rem;
  border-radius: 3rem;
  font-size: 1rem;
  position: relative;
  left: 2.3rem;
  bottom: 1.6rem;
}
.our-stories-card-btn-4 {
  font-family: "Raleway", serif;
  font-weight: 500;
  border: none;
  background-color: #95b226;
  color: #ffffff;
  padding: 0.8rem 1.2rem;
  border-radius: 3rem;
  font-size: 1rem;
  position: relative;
  left: 2.3rem;
  bottom: 1.6rem;
}
.our-stories-card-btn-5 {
  font-family: "Raleway", serif;
  font-weight: 500;
  border: none;
  background-color: #95b226;
  color: #ffffff;
  padding: 0.8rem 1.2rem;
  border-radius: 3rem;
  font-size: 1rem;
  position: relative;
  left: 2.3rem;
  bottom: 1.6rem;
}
.our-stories-card-title-1 {
  font-family: "Quicksand", serif;
  font-weight: 700;
  color: #000000;
  font-size: 1.7rem;
  margin: 0.8rem 2.3rem 2.3rem 2.3rem;
}
.our-stories-card-title {
  font-family: "Quicksand", serif;
  font-weight: 700;
  color: #000000;
  font-size: 1.2rem;
  margin: 0.8rem 2.3rem 2.3rem 2.3rem;
}
.stories-card-1-description {
  font-family: "Raleway", serif;
  font-weight: 500;
  font-size: 1rem;
  margin: 3rem 4.2rem 2.1rem 2.3rem;
  color: #666666;
}
.stories-card-1 {
  grid-row: span 3;
}
.our-stories-btn-container {
  display: flex;
  max-width: 80%;
  margin: 0 auto;

  justify-content: center;
}
.our-stories-btn {
  font-family: "Quicksand", serif;
  font-weight: 700;
  color: #ffffff;
  background-color: var(--black-color);
  margin-top: 5rem;
  border: none;
  margin-bottom: 3.7rem;
  padding: 0.7rem 3.7rem;
  border-radius: 12px;
  font-size: 1.2rem;
}
.our-stories-btn:hover {
  color: var(--black-color);
  background-color: #ffffff;
  transition: all 0.3s ease;
}
/* carriculum part design end */
/* our stories part start */

/* our stories part end */
/* responsive for X-small*/
@media (max-width: 576px) {
  /* responsive nav start */
  .nav-container {
    max-width: 100%;

    border: 1px solid var(--orange-color);
    margin-top: 1rem;
    margin-right: 0rem;
  }

  .logo-container-img {
    width: 100%;
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .logo-container-text {
    display: none;
  }
  .nav-menu-container {
    display: none;
  }
  .nav-button-container {
    display: none;
  }
  .hamburger-icon {
    display: block;

    margin-right: 1rem;
  }
  .nav-container {
    margin-top: 0rem;
  }
  /* responsive nav end */

  /* responsive banner start */
  .banner-container {
    max-width: 90%;
    gap: 0px;

    flex-direction: column;
  }
  .banner-container-right > img {
    width: 90vw;
    margin: 0 auto;
  }
  .banner-container-right:nth-child(2) {
    order: -1;
  }
  .banner-container-left {
    margin: 1rem 0rem;
    width: 100%;
  }
  .banner-container-left-title {
    font-size: 2.5rem;
    text-align: center;
    display: block;
  }
  .banner-container-left-description {
    text-align: center;
  }
  .banner-btn {
    justify-content: center;
    align-items: center;
  }
  /* responsive banner end */
  /* responsive carriculum part design start */
  .carriculum-container-title {
    font-family: "Quicksand", serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    font-size: 1rem;
  }
  .carriculum-container-items {
    gap: 0.2rem;
    max-width: 90%;
    grid-template-columns: repeat(auto, 1fr);
    gap: 1.5px;
    padding: 2.5rem;
  }
  .carriculum-container-card {
    margin-top: 2rem;
  }
  .arrow {
    display: none;
  }

  /* responsive carriculum part design end */
  @keyframes scroll-left {
    0% {
      transform: translateX(20%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .our-stories {
    max-width: 100vw;
    margin: 0 auto;
  }
  .our-stories-cards {
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: 1fr 1fr; */
    gap: 0.5rem;
  }
  .our-stories-title {
    font-size: 1rem;
    margin: 1.5rem auto;
  }
  .stories-card-1 {
    display: none;
  }
  .our-stories-card-title {
    font-family: "Quicksand", serif;
    font-weight: 700;
    color: #000000;
    font-size: 0.6rem;
    margin: 0.8rem 2.3rem 2.3rem 2.3rem;
  }
  .our-stories-card-btn-2 {
    padding: 0.8rem 1rem;
    border-radius: 3rem;
    font-size: 0.7rem;
    position: relative;
    left: 0.3rem;
    bottom: 1.6rem;
  }
  .our-stories-card-btn-3 {
    padding: 0.8rem 1rem;
    border-radius: 3rem;
    font-size: 0.7rem;
    position: relative;
    left: 0.3rem;
    bottom: 1.6rem;
  }
  .our-stories-card-btn-4 {
    padding: 0.8rem 1rem;
    border-radius: 3rem;
    font-size: 0.7rem;
    position: relative;
    left: 0.3rem;
    bottom: 1.6rem;
  }
  .our-stories-card-btn-5 {
    padding: 0.7rem 1.2rem;
    border-radius: 3rem;
    font-size: 0.8rem;
    position: relative;
    left: 0.5rem;
    bottom: 1.6rem;
  }
  .stories-card-2 {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }
  .stories-card-3 {
    grid-column: 2 / 2;
    grid-row: 1 / 2;
  }
  .stories-card-4 {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    margin-top: 0rem;
  }
  .stories-card-5 {
    grid-column: 2 / 3;
    grid-row: 2/3;
    margin-top: 0rem;
  }
}

/* responsive for small*/
@media (min-width: 577px) and (max-width: 768px) {
  /* responsive nav start */
  .nav-container {
    max-width: 98%;
    margin: 0 auto;
  }
  .logo-container {
    gap: 0.3rem;
    margin-top: 1rem;
  }
  .logo-container-img {
    width: 50%;
  }
  .logo-container-text {
    font-weight: 700;
    font-size: 1.5rem;
  }
  .nav-menu-list-items {
    gap: 1rem;
    margin-top: 1rem;
  }
  .nav-menu-item > a {
    font-weight: 500;
    font-size: 1rem;
  }
  .nav-menu-item-1 > a {
    font-weight: 700;
  }
  .nav-button {
    margin-top: 1rem;
    padding: 0.4rem 2rem;
    border-radius: 12px;
    font-size: 0.8rem;
    color: #ffff;
    background-color: var(--orange-color);
    border: none;
  }
  /* responsive nav end */

  /* responsive banner start */
  .banner-container {
    max-width: 98%;
    gap: 0px;
  }
  .banner-container-left-title {
    font-size: 1.5rem;
  }
  .banner-container-left {
    margin: 5rem 0rem;
  }
  .banner-container-right > img {
    width: 80%;
  }
  /* responsive banner end */
  /* responsive carriculum part design start */
  .carriculum-container-title {
    font-family: "Quicksand", serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    font-size: 1rem;
  }
  .carriculum-container-items {
    gap: 0.2rem;
    /* margin-bottom: 0.2rem; */
    /* padding-bottom: 0.3rem; */
    /* flex-direction: column; */
  }
  .carriculum-container-card {
    margin-top: 2rem;
  }
  .carriculum-container-card-title {
    margin-top: 1rem;
    font-size: 0.5rem;
  }

  .arrow > svg {
    height: 5rem;
    width: 3.5rem;
  }
  /* responsive carriculum part design end */
  .our-stories {
    max-width: 100vw;
    margin: 0 auto;
  }
  .our-stories-cards {
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: 1fr 1fr; */
    gap: 0.5rem;
  }
  .our-stories-title {
    font-size: 1rem;
    margin: 1.5rem auto;
  }
  .stories-card-1 {
    display: none;
  }
  .our-stories-card-title {
    font-family: "Quicksand", serif;
    font-weight: 700;
    color: #000000;
    font-size: 1rem;
    margin: 0.8rem 2.3rem 2.3rem 2.3rem;
  }
  .our-stories-card-btn-2 {
    padding: 0.8rem 1rem;
    border-radius: 3rem;
    font-size: 0.7rem;
    position: relative;
    left: 0.3rem;
    bottom: 1.6rem;
  }
  .our-stories-card-btn-3 {
    padding: 0.8rem 1rem;
    border-radius: 3rem;
    font-size: 0.7rem;
    position: relative;
    left: 0.3rem;
    bottom: 1.6rem;
  }
  .our-stories-card-btn-4 {
    padding: 0.8rem 1rem;
    border-radius: 3rem;
    font-size: 0.7rem;
    position: relative;
    left: 0.3rem;
    bottom: 1.6rem;
  }
  .our-stories-card-btn-5 {
    padding: 0.7rem 1.2rem;
    border-radius: 3rem;
    font-size: 0.8rem;
    position: relative;
    left: 0.5rem;
    bottom: 1.6rem;
  }
  .stories-card-2 {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }
  .stories-card-3 {
    grid-column: 2 / 2;
    grid-row: 1 / 2;
  }
  .stories-card-4 {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    margin-top: 0rem;
  }
  .stories-card-5 {
    grid-column: 2 / 3;
    grid-row: 2/3;
    margin-top: 0rem;
  }
}

/* responsive for medium*/
@media (min-width: 769px) and (max-width: 992px) {
  .nav-container {
    /* responsive nav start */
    max-width: 95%;
    margin: 0 auto;
  }
  .logo-container {
    gap: 0.5rem;
    margin-top: 1rem;
  }
  .logo-container-img {
    width: 70%;
  }
  .logo-container-text {
    font-weight: 700;
    font-size: 1.7rem;
  }
  .nav-menu-list-items {
    gap: 1.5rem;
    margin-top: 1rem;
  }
  .nav-menu-item > a {
    font-weight: 500;
    font-size: 1.5rem;
  }
  .nav-menu-item-1 > a {
    font-weight: 700;
  }
  .nav-button {
    margin-top: 1rem;
    padding: 0.5rem 2rem;
    border-radius: 12px;
    font-size: 1rem;
    color: #ffff;
    background-color: var(--orange-color);
    border: none;
  }
  /* responsive nav end */

  /* responsive banner start */
  .banner-container {
    max-width: 95%;
    gap: 0px;
  }
  .banner-container-left-title {
    font-size: 2.5rem;
  }
  .banner-container-left {
    margin: 5rem 0rem;
  }
  .banner-container-right > img {
    width: 80%;
  }
  /* responsive banner end */
  /* responsive carriculum part design start */
  .carriculum-container-title {
    font-family: "Quicksand", serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    font-size: 1rem;
  }
  .carriculum-container-items {
    gap: 0.2rem;
    /* margin-bottom: 0.2rem; */
    /* padding-bottom: 0.3rem; */
    /* flex-direction: column; */
  }
  .carriculum-container-card {
    margin-top: 2rem;
  }
  .carriculum-container-card-title {
    margin-top: 1rem;
    font-size: 0.5rem;
  }
  .arrow > svg {
    height: 6rem;
    width: 5rem;
  }
  /* responsive carriculum part design end */
  .our-stories {
    max-width: 100vw;
    margin: 0 auto;
  }
  .our-stories-cards {
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: 1fr 1fr; */
    gap: 0.5rem;
  }
  .our-stories-title {
    font-size: 1rem;
    margin: 1.5rem auto;
  }
  .stories-card-1 {
    display: none;
  }
  .our-stories-card-title {
    font-family: "Quicksand", serif;
    font-weight: 700;
    color: #000000;
    font-size: 1.2rem;
    margin: 0.8rem 2.3rem 2.3rem 2.3rem;
  }
  .our-stories-card-btn-2 {
    padding: 0.8rem 1rem;
    border-radius: 3rem;
    font-size: 0.7rem;
    position: relative;
    left: 0.3rem;
    bottom: 1.6rem;
  }
  .our-stories-card-btn-3 {
    padding: 0.8rem 1rem;
    border-radius: 3rem;
    font-size: 0.7rem;
    position: relative;
    left: 0.3rem;
    bottom: 1.6rem;
  }
  .our-stories-card-btn-4 {
    padding: 0.8rem 1rem;
    border-radius: 3rem;
    font-size: 0.7rem;
    position: relative;
    left: 0.3rem;
    bottom: 1.6rem;
  }
  .our-stories-card-btn-5 {
    padding: 0.7rem 1.2rem;
    border-radius: 3rem;
    font-size: 0.8rem;
    position: relative;
    left: 0.5rem;
    bottom: 1.6rem;
  }
  .stories-card-1 {
    grid-column: 1 / 1;
    /* grid-row: 1 / 1; */
  }
  .stories-card-2 {
    grid-column: 2 / 2;
    grid-row: 1 / 2;
  }
  .stories-card-3 {
    grid-column: 3 / 3;
    grid-row: 1 / 2;
  }
  .stories-card-4 {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    margin-top: 0rem;
  }
  .stories-card-5 {
    grid-column: 1 / 2;
    grid-row: 2 / 2;
    margin-top: 0rem;
  }
}

/* responsive for large*/
@media (min-width: 993px) and (max-width: 1200px) {
  /* responsive nav start */
  .nav-container {
    max-width: 95%;
    margin: 0 auto;
  }
  .logo-container {
    gap: 0.5rem;
    margin-top: 1rem;
  }
  .logo-container-img {
    width: 70%;
  }
  .logo-container-text {
    font-weight: 700;
    font-size: 1.7rem;
  }
  .nav-menu-list-items {
    gap: 1.5rem;
    margin-top: 1rem;
  }
  .nav-menu-item > a {
    font-weight: 500;
    font-size: 1.5rem;
  }
  .nav-menu-item-1 > a {
    font-weight: 700;
  }
  .nav-button {
    margin-top: 1rem;
    padding: 0.5rem 2rem;
    border-radius: 12px;
    font-size: 1rem;
    color: #ffff;
    background-color: var(--orange-color);
    border: none;
  }
  /* responsive nav end */

  /* responsive banner start */
  .banner-container {
    max-width: 95%;
    gap: 0px;
  }
  .banner-container-left-title {
    font-size: 3rem;
  }
  .banner-container-left {
    margin: 5rem 0rem;
  }
  .banner-container-right > img {
    width: 80%;
  }
  /* responsive banner end */
  /* responsive carriculum part design start */
  .carriculum-container-title {
    font-family: "Quicksand", serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    font-size: 1rem;
  }
  .carriculum-container-items {
    gap: 0.2rem;
    /* margin-bottom: 0.2rem; */
    /* padding-bottom: 0.3rem; */
    /* flex-direction: column; */
  }
  .carriculum-container-card {
    margin-top: 2rem;
  }
  .carriculum-container-card-title {
    margin-top: 1rem;
    font-size: 0.5rem;
  }
  .our-stories-card-btn-2 {
    padding: 0.5rem 0.8rem;

    font-size: 0.8rem;

    left: 2rem;
    bottom: 1.4rem;
  }
  .our-stories-card-btn-3 {
    padding: 0.5rem 0.8rem;

    font-size: 0.8rem;

    left: 2rem;
    bottom: 1.4rem;
  }
  .our-stories-card-btn-4 {
    padding: 0.5rem 0.8rem;

    font-size: 0.8rem;

    left: 2rem;
    bottom: 1.4rem;
  }
  .our-stories-card-btn-5 {
    padding: 0.5rem 0.8rem;

    font-size: 0.8rem;

    left: 2rem;
    bottom: 1.4rem;
  }
  /* responsive carriculum part design end */
}
